@import url("header.css");
body {
    background-color: rgb(171, 105, 169);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height:auto;
    width:40%;
    height:40%;
}

.h1 {
    color:rgb(114, 10, 88);
}

.h2 {

    color:rgb(183, 22, 219);
    
