@import url("header.css");
body {
    background-color: rgb(171, 105, 169);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height:auto;
    width:40%;
    height:40%;
}

h1 {
    color:rgb(3, 82, 16);
}

h2 {

    color:rgb(63, 90, 71);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;
}